.art-hard-skills .art-hard-skills-item {
  margin-bottom: 15px;
  position: relative;
}
.art-hard-skills .art-hard-skills-item .art-skill-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.art-hard-skills .art-hard-skills-item .art-line-progress {
  width: 100%;
}
.art-hard-skills .art-hard-skills-item .art-line-progress .progressbar-text {
  width: 100%;
  text-align: right;
  top: -6px !important;
  font-size: 11px;
  color: #8c8c8e !important;
}