@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css');

/* ----------------------------- Author: Nazar Miller ----------------------------- */
/*- 1. common - fonts - text defaults - title defaults - text config - container - buttons frame - suptitle - divider - image defaults - link defaults - table - quote - list 2. link 3. buttons 4. space 5. app marcup - top background - preloader - scroll frame - app - mobile top bar - info bar - content - menu bar - marcup media queries 6. info bar - header - name - language skills - hard skills - knowledge - info bar links - social links - progresbar color 7. menu bar - main menu - current page title 8. content - section title - card - banner - typing code - counters - timeline - contact form - blog - pagination - logos - footer 9. portfolio - filter - portfolio items - touch device querie - single project - fancybox customization 10. media queries 11. burger button 12. transitions - in animation - out animation -*/
/* ------------------------------ common ------------------------------ */
/* ----- text defaults ----- */
body {
  color: var(--c-font-2);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}
/* ----- title defaults ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--c-font-1);
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 52px;
  font-weight: 800;
}
h4 {
  font-size: 17px;
  font-weight: 600;
}
h5 {
  font-size: 14px;
  font-weight: 600;
}
h6 {
  font-size: 12px;
  font-weight: 400;
}
/* ----- text config ----- */
.art-sm-text {
  font-size: 11px;
}
.art-lg-text {
  font-size: 16px;
}
.art-white {
  color: var(--c-font-1);
}
/* ----- container ----- */
.container-fluid {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}
/* ----- buttons frame ----- */
.art-buttons-frame a {
  margin-right: 15px;
}
/* ----- suptitle ----- */
.art-el-suptitle {
  margin-top: 5px;
  color: var(--c-font-3);
  font-style: italic;
  font-size: 11px;
}
/* ----- divider ----- */
.art-ls-divider {
  background: var(--c-font-3);
  width: 100%;
  height: 1px;
  opacity: 0.3;
}
/* ----- image defaults ----- */
.art-img-default {
  width: 100%;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
}
/* ----- link defaults ----- */
a {
  text-decoration: none;
  color: var(--c-font-2);
}
a:hover {
  text-decoration: none;
  color: var(--c-font-1);
}
a:focus {
  outline: inherit;
}
/* ----- table ----- */
.art-table {
  color: var(--c-font-2);
}
.art-table ul {
  padding: 0;
  margin: 0;
}
.art-table ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.art-table ul li:last-child {
  margin-bottom: 0;
}
/* ----- quote ----- */
blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  background: var(--c-accent-1);
  color: var(--c-background-1);
  padding: 30px;
  padding-left: 35px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  box-shadow: 0 1px 4px 0 var(--c-box-shadow);
  position: relative;
}
blockquote:before {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f10d';
  font-size: 18px;
  opacity: 0.5;
  top: 5px;
  left: 9px;
  color: var(--c-font-1);
}
blockquote:after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f10d';
  font-size: 18px;
  opacity: 0.5;
  bottom: 5px;
  right: 9px;
  color: var(--c-font-1);
  transform: rotate(180deg);
}
/* ----- list ----- */
.art-custom-list {
  padding-left: 25px;
}
.art-custom-list li {
  position: relative;
  list-style-type: none;
  color: var(--c-font-1);
  margin-bottom: 5px;
}
.art-custom-list li:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px var(--c-accent-1);
  background: transparent;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
}
/* ------------------------------ link ------------------------------ */
.art-link {
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 10px;
  color: var(--c-font-2);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.art-link:hover {
  color: var(--c-font-1);
  text-shadow: 0 0 3px var(--c-font-shadow);
}
.art-link.art-white-link {
  color: var(--c-font-1) !important;
}
.art-link.art-white-link:hover {
  color: var(--c-font-1) !important;
  text-shadow: 0 0 3px var(--c-font-shadow);
  transform: translateX(5px);
}
.art-link.art-color-link {
  color: var(--c-accent-1) !important;
}
.art-link.art-color-link:hover {
  color: var(--c-accent-2) !important;
  text-shadow: 0 0 3px var(--c-font-shadow);
  transform: translateX(5px);
}
.art-link.art-w-chevron {
  padding-right: 10px;
}
.art-link.art-w-chevron:after {
  position: absolute;
  font-family: 'Font Awesome 5 free';
  content: '\f054';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 9px;
  top: 0.3px;
  transform: translateX(5px);
  transition: 0.4s ease-in-out;
}
.art-link.art-w-chevron:hover {
  transform: translateX(0);
}
.art-link.art-w-chevron:hover:after {
  transform: translateX(10px);
}
.art-link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.art-link i {
  font-size: 9px;
  margin-left: 3px;
}
.art-link.art-left-link {
  padding-left: 10px;
  padding-right: 0;
}
.art-link.art-left-link.art-w-chevron:after {
  content: '\f053';
  left: 0;
  transform: translateX(0);
}
.art-link.art-left-link.art-w-chevron:hover:after {
  transform: translateX(-5px);
}
/* ------------------------------ button ------------------------------ */
.art-btn {
  text-transform: uppercase;
  box-shadow: 0 1px 4px 0 var(--c-box-shadow);
  color: var(--c-font-4);
  background: var(--c-accent-1);
  letter-spacing: 1.5px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  border: none;
  transition: 0.4s ease-in-out;
}
.art-btn:hover {
  background-color: var(--c-accent-3);
}
.art-btn span {
  align-self: center;
  transition: 0.2s ease-in-out;
}
.art-btn.art-btn-md {
  height: 45px;
  font-size: 11px;
  padding: 0 35px;
}
.art-btn.art-btn-sm {
  height: 40px;
  font-size: 11px;
  padding: 0 30px;
}
.art-btn:hover {
  transform: translateY(-2px);
  color: var(--c-font-5);
}
.btn-v2 {
  cursor: pointer;
}
/* ------------------------------ space ------------------------------ */
.p-30-0 {
  padding-top: 30px;
  padding-bottom: 0;
}
.p-0-30 {
  padding-top: 0;
  padding-bottom: 30px;
}
.p-30-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-30-15 {
  padding-top: 30px;
  padding-bottom: 15px;
}
.p-15-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.p-15-0 {
  padding-top: 15px;
  padding-bottom: 0;
}
.p-60-0 {
  padding-top: 60px;
  padding-bottom: 0;
}
.p-230-0 {
  padding-top: 230px;
  padding-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-25,
.mb-30 {
  margin-bottom: 25px;
}
@media (max-width: 1400px) {
  .p-lg-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 920px) {
  .p-md-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
/* ------------------------------ app marcup ------------------------------ */
/* ----- top background ----- */
.art-top-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;
}
.art-top-bg .art-top-bg-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: var(--c-gradient-1);
}
/* ----- preloader ----- */
.art-preloader {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background: var(--c-font-4);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.art-preloader .art-preloader-content {
  margin-bottom: 15px;
  text-align: center;
}
.art-preloader .art-preloader-content .art-preloader-load {
  margin-top: 5px;
  width: 200px;
}
.art-preloader .art-preloader-content .art-preloader-load .progressbar-text {
  position: relative;
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--c-font-2) !important;
  height: 300px;
  line-height: 350px;
}
.art-preloader-load path:first-child {
  stroke: var(--c-background-1);
}
.art-preloader-load path:last-child {
  stroke: var(--c-accent-1);
}
/* ----- scroll frame ----- */
.art-scroll-frame {
  width: 100%;
  height: calc(100vh - 60px);
}
.scrollbar-track {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* ------------------------------ app marcup (after 920px) ------------------------------ */
@media (max-width: 920px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .art-preloader {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .art-scroll-frame {
    height: 100vh;
  }
}
/* ------------------------------ app marcup (after 290px) ------------------------------ */

/* ------------------------------ app marcup (after 230px) ------------------------------ */
@media (max-width: 230px) {
}
/* ------------------------------ info bar ------------------------------ */

.art-info-bar .art-knowledge-list {
  padding-left: 0;
}
.art-info-bar .art-knowledge-list li {
  list-style-type: none;
  margin-bottom: 5px;
  color: var(--c-font-2);
}
.art-info-bar .art-knowledge-list li:last-child {
  margin-bottom: 0;
}
.art-info-bar .art-knowledge-list li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  margin-right: 5px;
  font-size: 9px;
  color: var(--c-accent-1);
  margin-right: 10px;
}
.art-info-bar .art-knowledge-list li:hover::before {
  color: var(--c-accent-3);
}
.art-info-bar .art-links-frame {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.art-info-bar .art-ls-social {
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  height: 50px;
  background: var(--c-gradient-4);
  position: absolute;
  bottom: 0;
  box-shadow: 0 1px 4px 0 var(--c-box-shadow);
  left: 0;
  width: 100%;
  z-index: 999;
}
.art-info-bar .art-ls-social a {
  color: var(--c-font-2);
  transition: 0.2s ease-in-out;
}
.art-info-bar .art-ls-social a:hover {
  text-shadow: 0 0 3px var(--c-font-shadow);
  color: var(--c-accent-1);
}
.art-info-bar .art-ls-social a.social-unavailable:hover {
  text-shadow: 0 0 3px var(--c-font-shadow);
  color: var(--c-font-1);
}
@keyframes puls {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ----- progresbar color ----- */
.art-line-progress path:first-child {
  stroke: var(--c-background-1);
}
.art-line-progress path:last-child {
  stroke: var(--c-accent-1);
}
.art-line-progress:hover path:last-child {
  transform: scale(1.01);
  transition: right ease-in-out 1s;
  stroke: var(--c-accent-2);
}
.art-circle-progress path:first-child {
  stroke: var(--c-background-1);
}
.art-circle-progress path:last-child {
  stroke: var(--c-accent-1);
}
.art-circle-progress:hover path:last-child {
  transform: scale(1.01);
  transform-origin: center;
  transition: transform 0.5s;
  stroke: var(--c-accent-2);
}
.art-info-bar .art-strengths p {
  display: inline-block;
  color: var(--c-font-2);
  background: var(--c-font-6);
  padding: 3px 10px;
  border-radius: 15px;
  box-shadow: inset 0 3px 8px 0 var(--c-box-shadow);
  font-size: 10px;
  margin: auto 3px 5px auto;
}
.art-info-bar .art-strengths p:hover {
  color: var(--c-accent-3);
}
/* ------------------------------ menu bar ------------------------------ */
/* ------------------------------ content ------------------------------ */
/* ----- section title ----- */
.art-section-title {
  display: flex;
  justify-content: space-between;
}
.art-section-title .art-title-frame {
  align-self: center;
  position: relative;
  margin-bottom: 30px;
}
.art-section-title .art-right-frame {
  padding-bottom: 30px;
}
/* ----- card ----- */
.art-card {
  background: var(--c-gradient-5);
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  padding: 30px;
  margin-bottom: 30px;
}
.art-card.art-fluid-card {
  height: calc(100% - 30px);
}
/* ----- banner ----- */
.art-banner-back {
  content: '';
  position: absolute;
  z-index: 0;
  top: -30px;
  width: 90%;
  height: 30px;
  margin-left: 5%;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: var(--c-background-2);
}
.art-banner {
  transition: 0.55s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  z-index: 999;
}
.art-banner .art-banner-overlay {
  position: relative;
  display: flex;
  padding: 60px;
  width: 100%;
  background-image: var(--c-gradient-6);
}
.art-banner .art-banner-overlay.art-side-overlay {
  background-image: var(--c-gradient-6);
}
.art-banner .art-banner-overlay .art-banner-title {
  width: 100%;
  align-self: center;
}
.art-banner .art-banner-overlay .art-banner-title h1 {
  padding: 1px 0;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(0.25turn, var(--c-accent-2), var(--c-accent-3), var(--c-accent-4), var(--c-accent-5));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-clip: text;
  transition: transform 0.5s;
}
.art-banner .art-banner-overlay .art-banner-title h1:hover {
  /* text-shadow: 0.1px 0.1px 10px var(--c-accent-2);
	 */
  transform: scale(1.01);
  transition: transform 0.5s;
}
.art-banner .art-banner-overlay .art-banner-photo {
  width: 390px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}
.art-banner .art-banner-overlay .art-banner-photo:hover {
  transform: scale(1.15);
  transform-origin: right bottom;
  transition: transform 0.5s;
}
/* ----- typing code ----- */
.art-code {
  font-family: 'Courier Prime', monospace;
  color: var(--c-accent-1);
  text-shadow: 1px 1px 5px var(--c-accent-2);
}
.art-code i {
  font-style: normal;
  color: var(--c-accent-5);
  text-shadow: none;
}
.art-code span {
  color: var(--c-font-1);
  text-shadow: none;
}
.art-code span:hover {
  font-style: italic;
  /* color: var(--c-accent-4);
	 */
}
/* ----- counters ----- */
.art-counter-frame {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12.5%;
  opacity: 0;
  position: relative;
}
.art-counter-frame .art-counter-box {
  min-width: 60px;
}
.art-counter-frame .art-counter-box .art-counter {
  color: var(--c-accent-1);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
.art-counter-frame .art-counter-box .art-counter-plus {
  margin-left: 3px;
  color: var(--c-accent-1);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
/* ----- timeline ----- */
.art-timeline {
  position: relative;
}
.art-timeline::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 5px;
  height: calc(100% - 10px);
  width: 5px;
  background: var(--c-background-1);
}
.art-timeline .art-timeline-item {
  position: relative;
}
.art-timeline .art-timeline-item .art-timeline-mark-light {
  background: var(--c-font-1);
  position: absolute;
  top: 4px;
  right: -4px;
  width: 23px;
  height: 23px;
  opacity: 0;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}
.art-timeline .art-timeline-item .art-timeline-mark {
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px var(--c-accent-1);
  background: var(--c-font-5);
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
}
.art-timeline .art-timeline-item:hover .art-timeline-mark-light {
  animation: puls 1s infinite;
}
.art-timeline .art-timeline-content {
  position: relative;
  margin-right: 45px;
  background: var(--c-gradient-5);
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  transition: 0.5s ease-in-out;
}
.art-timeline .art-timeline-content:hover {
  opacity: 0.9;
  transform: scale(1.01);
  transform-origin: right top;
  transition: transform 0.5s ease-in-out;
}
.art-timeline .art-timeline-content:after {
  height: 10px;
  width: 10px;
  background-color: #2b2b35 fa;
  transform: rotate(-135deg);
  content: '';
  position: absolute;
  top: 11px;
  right: -5px;
  border-top-right-radius: 50%;
}
.art-timeline .art-timeline-content .art-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.art-timeline .art-timeline-content .art-card-header .art-right-side {
  margin-bottom: 15px;
}
.art-timeline .art-timeline-content .art-card-header .art-right-side .art-date {
  color: var(--c-font-3);
  margin-left: auto;
  background: var(--c-font-4);
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: inset 0 3px 8px 0 var(--c-box-shadow);
  font-size: 10px;
}
/* ----- contact form ----- */
.art-form-field input,
.art-form-field textarea {
  height: 50px;
  width: 100%;
  background: var(--c-gradient-7);
  border: none;
  color: var(--c-font-1);
  padding-left: 65px;
  padding-right: 15px;
  box-shadow: inset 0 1px 4px 0 var(--c-box-shadow);
  margin-bottom: 0;
  transition: 0.4s ease-in-out;
}
::placeholder {
  color: var(--c-font-3);
}
.art-form-field textarea {
  padding-left: 15px;
  padding-top: 15px;
  height: 150px;
  border-left: solid 50px var(--c-font-4);
}
.art-form-field textarea.art-active,
.art-form-field textarea:focus {
  border-color: var(--c-accent-1);
}
.art-form-field .art-input:focus {
  outline: none;
}
.art-input.art-active + label,
.art-input:focus + label {
  background: var(--c-accent-1);
  color: var(--c-font-4);
}
.art-form-field {
  position: relative;
  margin-bottom: 0;
}
.art-form-field label {
  text-align: center;
  color: var(--c-font-2);
  position: absolute;
  height: 50px;
  width: 50px;
  background: var(--c-font-4);
  top: 0;
  left: 0;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  cursor: text;
}
.art-form-field .art-validation-warning {
  height: 30px;
  padding: 7px;
  /* text-align: center;
	 */
}
.art-form-field .art-validation-warning.art-message-validation {
  padding-top: 1px;
}
.art-form-field .art-validation-warning span {
  color: var(--c-accent-5);
  margin-left: 50px;
}
.art-submit-frame {
  position: relative;
  height: 45px;
}
.art-submit-frame .art-submit {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.art-submit-frame .art-submit:focus {
  outline: inherit;
}
.art-success {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  overflow: hidden;
  max-width: 150px;
  transform: scale(0);
  text-transform: uppercase;
  color: var(--c-font-1);
  background: var(--c-font-4);
  letter-spacing: 1.5px;
  font-weight: 600;
  justify-content: center;
  align-content: center;
  border: none;
  height: 0;
  font-size: 11px;
  padding: 15px 35px 0;
  margin: 0;
}
/* ----- blog ----- */
.art-blog-card,
.art-project-card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  margin-bottom: 30px;
}
.art-blog-card .art-port-cover {
  position: relative;
  padding-bottom: 60%;
  display: block;
}
.art-blog-card .art-port-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transition: 0.4s ease-in-out;
}
.art-blog-card .art-post-description {
  background: var(--c-gradient-5);
  padding: 30px;
  position: relative;
  bottom: 0;
}
.art-blog-card:hover .art-port-cover img {
  transform: scale(1.07);
}
.art-blog-slider .art-blog-card {
  margin-bottom: 0;
}
/* ----- navigation/pagination ----- */
.art-slider-navigation {
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.art-slider-navigation .swiper-pagination-bullet {
  margin-right: 10px;
  background-color: #8c8c8e;
  border-radius: 5px;
  opacity: 0.5;
  height: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.art-slider-navigation .swiper-pagination-bullet:focus {
  outline: inherit;
}
.art-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #ffc107;
  opacity: 1;
}
.art-slider-navigation .art-slider-nav-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.art-slider-navigation .art-slider-nav-frame .art-slider-nav {
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.art-slider-navigation .art-slider-nav-frame .art-slider-nav.swiper-button-disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.art-slider-navigation .art-slider-nav-frame .art-slider-nav:focus {
  outline: inherit;
}
.art-pagination {
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  padding: 30px 30px 25px;
  background: var(--c-gradient-5);
  justify-content: space-between;
  display: flex;
}
.art-pagination .art-pagination-center {
  text-align: center;
  position: absolute;
  width: 200px;
  left: 50%;
  top: 25px;
  margin-left: -100px;
}
.art-pagination .art-pagination-center a {
  transition: 0.4s ease-in-out;
  padding: 0 5px;
}
.art-pagination .art-pagination-center a.art-active-pag {
  color: var(--c-accent-1);
}
.art-pagination .art-link {
  margin: 0;
}
/* ----- hobbies ----- */
.art-hobbies-item-frame {
  height: 100px;
  width: 100px;
  padding-bottom: 0;
  box-shadow: none !important;
}
.art-hobbies-item-frame img {
  object-fit: scale-down !important;
}
.hobbies-container {
  padding: 0;
}
/* ----- logos ----- */
.art-brand {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 1.5rem;
  display: block;
  margin-bottom: 30px;
  opacity: 0.6;
  transition: 0.4s ease-in-out;
}
.art-brand:hover {
  opacity: 1;
}
/* ----- footer ----- */
footer {
  width: 100%;
  padding: 17px 30px 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--c-gradient-5);
  box-shadow: 0 1px 4px 0 var(--c-box-shadow);
  font-size: 11px;
  color: var(--c-font-2);
  transition: 0.55s ease-in-out;
  z-index: 9;
}
footer div {
  margin-bottom: 10px;
}
footer a {
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: var(--c-font-1);
}
/* ------------------------------ portfolio ------------------------------ */
/* ----- filter ----- */
.art-filter .art-link {
  color: var(--c-font-2);
  margin-bottom: 0;
  cursor: pointer;
}
.art-link:last-child {
  margin-right: 15px;
}
.art-filter .art-link.art-current {
  color: var(--c-accent-1);
}
/* ----- portfolio items ----- */
.art-portfolio-item-frame,
.art-hobbies-item-frame {
  display: block;
  width: 100%;
  outline: inherit;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  position: relative;
  padding-bottom: 60%;
}
.art-portfolio-item-frame img,
.art-hobbies-item-frame img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(85%) blur(0);
  transition: 0.4s ease-in-out;
}
.art-portfolio-item-frame .art-item-hover,
.art-hobbies-item-frame .art-item-hover {
  width: 27px;
  height: 27px;
  box-shadow: 0 1px 4px 0 var(--c-box-shadow);
  border-radius: 50%;
  position: absolute;
  color: var(--c-font-1);
  top: 30px;
  left: 30px;
  background: var(--c-gradient-3);
  font-size: 11px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.art-portfolio-item-frame:hover .art-item-hover,
.art-hobbies-item-frame:hover .art-item-hover {
  opacity: 0.5;
}
.art-portfolio-item-frame:hover .art-item-hover:hover,
.art-hobbies-item-frame:hover .art-item-hover:hover {
  opacity: 1;
  transform: scale(1.07);
}
.art-portfolio-item-frame:hover img,
.art-hobbies-item-frame:hover img {
  transform: scale(1.07);
  filter: brightness(100%) blur(0);
}
.art-grid {
  /* display: grid;
	 grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	 grid-template-rows: masonry;
	 */
  transition: 0.55s ease-in-out;
  width: 100%;
  /* clear fix */
}
.art-grid:after {
  content: '';
  display: block;
  clear: both;
}
.art-grid .art-grid-item {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 0 15px;
}
.art-grid-item {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 0 15px;
}
.art-grid .art-grid-item .art-item-description,
.art-grid-item .art-item-description {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 15px;
  width: calc(100% - 29px);
  padding: 30px;
  background: var(--c-gradient-8);
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  transform: translateY(100%);
  transition: 0.55s ease-in-out;
}
.art-grid .art-grid-item:hover .art-item-description,
.art-grid-item:hover .art-item-description {
  transform: translateY(0);
}
.art-grid .art-grid-item .art-item-description p.art-tag,
.art-grid-item .art-item-description p.art-tag {
  display: inline-block;
  color: var(--c-font-2);
  background: var(--c-font-4);
  padding: 3px 12px;
  border-radius: 15px;
  box-shadow: inset 0 3px 8px 0 var(--c-box-shadow);
  font-size: 10px;
  margin: 0 5px 5px 0;
}
.art-grid .art-grid-item .art-item-description p.art-tag:hover,
.art-grid-item .art-item-description p.art-tag:hover {
  color: var(--c-accent-3);
}
.art-grid.art-grid-2-col .art-grid-item {
  width: 50%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-horizontal {
  padding-bottom: 66.7%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-vertical {
  padding-bottom: 140%;
}
.art-grid.art-grid-2-col .art-grid-item .art-portfolio-item-frame.art-square {
  padding-bottom: 90%;
}
.art-grid.art-grid-3-col .art-grid-item {
  width: 33.3333%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-horizontal {
  padding-bottom: 65%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-vertical {
  padding-bottom: 140%;
}
.art-grid.art-grid-3-col .art-grid-item .art-portfolio-item-frame.art-square {
  padding-bottom: 90%;
}
.art-project-swiper-card {
  width: 100% !important;
  padding: 0 !important;
}
.art-project-swiper-card .art-item-description {
  left: 0 !important;
  width: 100% !important;
}
/* ----- touch device ----- */
@media (pointer: coarse) {
  .art-portfolio-item-frame .art-item-hover {
    opacity: 0.5;
  }
  .art-grid .art-grid-item .art-item-description {
    position: relative;
    left: 0;
    width: 100%;
    transform: translateY(0);
  }
  .art-grid .art-grid-item:hover .art-item-description {
    transform: none;
  }
}
/* ----- single project ----- */
.art-project-cover {
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  margin-bottom: 30px;
}
.art-project-cover .art-portfolio-item-frame {
  padding-bottom: 50%;
}
.art-project-category {
  color: var(--c-font-3);
  margin-left: auto;
  display: inline;
  background: var(--c-font-4);
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  font-size: 10px;
}
/* ----- fancybox customization ----- */
.fancybox-container {
  margin: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
}
.fancybox-container .fancybox-bg {
  background: #20202a fa;
}
.fancybox-is-open .fancybox-bg {
  opacity: 1;
}
.fancybox-toolbar {
  background: var(--c-gradient-3);
  display: flex;
  width: calc(100vw - 30px);
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
  z-index: 999999;
  padding: 0 17px;
  transition: 0.55s ease-in-out;
}
.fancybox-toolbar .fancybox-button {
  background: transparent;
  color: var(--c-font-2);
}
.fancybox-toolbar .fancybox-button:hover {
  color: var(--c-font-1);
}
.fancybox-toolbar .fancybox-button svg {
  width: 20px;
}
.fancybox-slide--image {
  padding: 130px 0 60px;
}
.fancybox-navigation .fancybox-button {
  background-color: transparent;
  margin: 0 15px;
}
.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 11px;
  margin-left: 5px;
  z-index: 9999999999999;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: var(--c-font-2);
}
.fancybox-progress {
  background: var(--c-accent-1);
  z-index: 1000000000000000000;
}
.fancybox-content .fancybox-image {
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
}
.fancybox-thumbs {
  background: var(--c-gradient-5);
  box-shadow: 0 3px 8px 0 var(--c-box-shadow);
}
.fancybox-thumbs__list a:before {
  border-color: var(--c-accent-1);
  transition: 0.4s ease-in-out;
}
.fancybox-button[disabled] {
  transform: scale(0);
  pointer-events: none;
  transition: 0.4s ease-in-out;
}
.art-recomendation-popup {
  background-color: transparent;
  max-width: 50%;
}
/* ------------------------------ content (after 1600px) ------------------------------ */
@media (max-width: 1600px) {
  .art-banner .art-banner-overlay .art-banner-title h1 {
    font-size: 42px;
  }
  .art-banner .art-banner-overlay .art-banner-photo {
    width: 360px;
  }
}
/* ------------------------------ content (after 1400px) ------------------------------ */
@media (max-width: 1400px) {
  .art-banner-back {
    display: none;
  }
  .art-banner .art-banner-overlay .art-banner-title h1 {
    font-size: 36px;
  }
  .art-banner .art-banner-overlay .art-banner-photo {
    width: 320px;
  }
}
/* ------------------------------ content (after 1200px) ------------------------------ */
@media (max-width: 1200px) {
  .art-banner .art-banner-overlay .art-banner-photo {
    display: none;
  }
  .art-grid.art-grid-2-col .art-grid-item,
  .art-grid.art-grid-3-col .art-grid-item {
    width: 50%;
  }
}
/* ------------------------------ content (after 920px) ------------------------------ */
@media (max-width: 920px) {
  .art-banner .art-banner-overlay {
    padding: 60px 30px;
  }
  .art-banner .art-banner-overlay .art-banner-title {
    text-align: center;
  }
  .art-banner .art-banner-overlay .art-banner-title h1 {
    font-size: 46px;
  }
  .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame a {
    max-width: 200px;
    margin: 0 auto;
  }
  .art-banner .art-banner-overlay .art-banner-title .art-buttons-frame a:first-child {
    margin-bottom: 15px;
  }
  .art-code {
    min-height: 70px;
    margin-bottom: 0;
  }
  .art-timeline .art-timeline-content {
    margin-right: 30px;
  }
  .art-counter-frame {
    padding-left: 5%;
  }
  .fancybox-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  .fancybox-toolbar {
    width: 100vw;
  }
  .fancybox-navigation {
    width: 100%;
    position: absolute;
    bottom: 35px;
  }
}
/* ------------------------------ content (after 768px) ------------------------------ */
@media (max-width: 768px) {
  .art-section-title {
    flex-direction: column;
  }
  .art-section-title .art-right-frame {
    margin-left: auto;
    margin-right: auto;
  }
  .art-grid.art-grid-2-col .art-grid-item,
  .art-grid.art-grid-3-col .art-grid-item {
    width: 100%;
  }
  .art-filter {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .art-filter a {
    margin: 0 0 10px;
  }
  .art-m-hidden {
    display: none;
  }
  .art-counter-frame {
    padding-left: 15%;
  }
}
/* ------------------------------ content (after 500px) ------------------------------ */
@media (max-width: 500px) {
  .art-section-title {
    flex-direction: column;
  }
  .art-section-title .art-right-frame {
    margin-left: auto;
    margin-right: auto;
  }
  .art-grid.art-grid-2-col .art-grid-item,
  .art-grid.art-grid-3-col .art-grid-item {
    width: 100%;
  }
  .art-counter-frame {
    padding-left: 10%;
  }
  .art-counter-frame .art-counter-box {
    min-width: 30px;
  }
}
/* ------------------------------ transitions ------------------------------ */
.art-a {
  transition: 0.55s ease-in-out;
}
/* ----- in animation ----- */
.transition-fade {
  /* transition: 0.55s ease-in-out;
	 */
  opacity: 1;
}
.transition-fade .art-a {
  transform: scale(1);
  opacity: 1;
}
.transition-fade .art-price.art-popular-price {
  transform: scale(1.03);
}
/* ----- out animation ----- */
html.is-animating .transition-fade {
  opacity: 0;
}
html.is-animating .transition-fade .art-a {
  transform: scale(0.93);
  opacity: 0;
}
html.is-animating .art-a,
html.is-animating .art-current-page {
  opacity: 0;
}
/* ----- in animation ----- */
.fade-right {
  transform: translateX(0);
  opacity: 1;
}
/* ----- out animation ----- */
html.is-animating .fade-right {
  transform: translateX(-60px);
  opacity: 0;
}
/* ----- in animation ----- */
.fade-left {
  transform: translateX(0);
  opacity: 1;
}
/* ----- out animation ----- */
html.is-animating .fade-left {
  transform: translateX(60px);
  opacity: 0;
}
@media (max-width: 920px) {
  .transition-fade .art-price.art-popular-price {
    transform: scale(1);
  }
}
