.art-info-bar .art-lang-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.art-info-bar .art-lang-skills .art-lang-skills-item {
  width: 33.33333%;
  text-align: center;
  margin-bottom: 15px;
}
.art-info-bar .art-lang-skills .art-lang-skills-item .art-circle-progress {
  width: 65%;
  margin: 0 auto 15px;
}
.art-info-bar .art-lang-skills .art-lang-skills-item .art-circle-progress .progressbar-text {
  font-size: 11px;
  color: #8c8c8e !important;
  position: relative;
  left: 45% !important;
}
.art-info-bar .art-lang-skills .art-lang-skills-item .art-circle-progress .progressbar-text:after {
  content: '%';
  position: absolute;
  right: -7px;
}