/* ------------------------------ info bar ------------------------------ */
.art-info-bar {
  padding: 0 15px;
}

/* ----- progresbar color ----- */
.art-line-progress path:first-child {
  stroke: #191923;
}
.art-line-progress path:last-child {
  stroke: #ffc107;
}
.art-circle-progress path:first-child {
  stroke: #191923;
}
.art-circle-progress path:last-child {
  stroke: #ffc107;
}